/* CSS Admin Styles */

.polylang-tcopro .polylang-tcopro-widgets {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2em;
}
.polylang-tcopro .polylang-tcopro-widgets .polylang-tcopro-widget {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 2em 2em 0;
    width: 100%;
    max-width: 420px;
    background: #fff;
}
.polylang-tcopro .polylang-tcopro-widgets .polylang-tcopro-widget h3 {
    margin: 0 0 1em;
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}
.polylang-tcopro .polylang-tcopro-assignment {
    display: flex;
    flex-flow: column;
    margin: 0 0 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}
.polylang-tcopro .polylang-tcopro-assignment:last-of-type {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item {
    display: flex;
    flex-flow: row;
    justify-items: flex-start;
    align-items: center;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item h4 {
    margin: 0 1em 0 0;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item .polylang-tcopro-language-list {
    display: flex;
    flex-flow: row;
    justify-items: flex-start;
    align-items: center;
    width: auto
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item .polylang-tcopro-language-list li {
    margin: 0 0.5em 0 0;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item .polylang-tcopro-language-list li:last-of-type {
    margin: 0;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item .polylang-tcopro-language-list .polylang-tcopro-flag {
    padding: 0.25em;
    display: block;
    border-radius: 3px;
    border: 2px solid transparent;
    line-height: 1;
    cursor: pointer;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item .polylang-tcopro-language-list .polylang-tcopro-flag.selected {
    border: 2px solid #2271b1;
}
.polylang-tcopro .polylang-tcopro-assignment .polylang-tcopro-assignment-item .polylang-tcopro-language-list .polylang-tcopro-flag img {
    width: 18px;
    height: 18px;
    margin: 0;
}